# Fichiers de l'environnement virtuel
.env/
env/
venv/
*.pyc
__pycache__/

# Fichiers de sauvegarde
*.bak

# Fichiers de logs
*.log

# Fichiers de médias
media/

# Fichiers de migrations
migrations/

# Fichiers de configurations spécifiques à l'utilisateur
local_settings.py

# Dossiers générés par Django
__pycache__/
db.sqlite3
/static/
/media/

# Fichiers de sauvegarde de l'éditeur
.idea/

# Fichiers de cache
*.swp
*.swo
